* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Maler', sans-serif;
	font-size: 1.4rem;
	color: #fff;
}

.back {
    background-image: url("/beePROJECT/assets/back5.svg");
    width: 100%;
    height: 300vh;
    background-position: center center;
    background-size: cover;
}

a {
	text-decoration: none;
	color: inherit;
}
.container {
	max-width: 120rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

/* navbar */

.primary-header {
    background-color: #FDEFCA;
    color: #9D9076;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    height: 8.2rem;
}

.nav-btns {
    display: flex;
    gap: 4.3rem;
}

/* first-content */

.first-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
}

.list {
    font-size: 3rem;
    color: #9D9076;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.f-block {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 35%;
}

.pass-img {
    width: 30%;
}

.flowers-block {
    height: 80vh;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.flower {
    width: 50rem;
    height: 70rem;
    transform: translateX(-21rem);
}

/* texts */

.main-text {
    color: #765728;
    font-size: 4rem;
}

.bold {
    color: #765728;
}

.second-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.bee {
    animation-name: move;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes move {
    0% {
        transform: translateX(-.8rem);
    }
    
    25% {
        transform: translateY(.8rem);
    }

    50% {
        transform: translateX(.8rem);
    }

    75% {
        transform: translateY(-.8rem); 
    }

    100% {
        transform: translateX(-.8rem);
    }
}

.second-first {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    padding-top: 7rem;
    padding-left: 4rem;
}

.second-second {
    padding-top: 22rem;
    width: 40%;
    height: 100vh;
}

.second-third {
    padding-top: 12rem;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.second-bee {
    animation-name: move;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    width: 30rem;
    height: 30rem;
}

.third-content {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.last-img {
    width: 85%;
}

.texts-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
}

.list-s {
    width: 35%;
    font-size: 3rem;
    color: #765728;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer-img {
    width: 17rem;
    height: 4rem;
}

.red {
    color: red;
}

.yellow {
    color: #F4BE32;
}