* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Maler', sans-serif;
	font-size: 1.4rem;
	color: #fff;
}



a {
	text-decoration: none;
	color: inherit;
}
.container {
	max-width: 120rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

/* navbar */

.primary-header {
    background-color: #FDEFCA;
    color: #9D9076;
    font-size: 1.6rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    height: 8.2rem;
}

.nav-btns {
    display: flex;
    gap: 4.3rem;
}

/* content */

.back-img {
    width: 100%;
    height: 104vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}


.content-first {
    display: flex;
    width: 100%;
    height: 90vh;
}

.main-page-back-1 {
    position: absolute;

}

.first-part {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    height: 90vh;
}

.block-for-f-text {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.block-for-s-text {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.first-text {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 7.2rem;
    color: #765728;
}

.second-text {
    font-size: 9.4rem;
    color: #F4BE32;
}


.second-part {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90vh;
}

.bee-img-f-content {
    width: 40rem;
    height: 40rem;
    animation-name: move;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes move {
    0% {
        transform: translateX(-2rem);
    }
    
    25% {
        transform: translateY(2rem);
    }

    50% {
        transform: translateX(2rem);
    }

    75% {
        transform: translateY(-2rem); 
    }

    100% {
        transform: translateX(-2rem);
    }
}


/* burger-logic */



.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 4rem;
    gap: 4rem;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #FDEFCA;
}

.burger-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 8rem;
    display: flex;
    justify-content: flex-end;
}

.nav-btns-burger {
    display: flex;
    flex-direction: column;
}

/* s-part */

.back-img-second {
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.content-second {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.flower-block-f {
    width: 25%;
    height: 100vh;
}

.flower-f {
    transform: translateX(-25rem);
    transition: transform 1.7s;
}

.flower-active {
    transform: translateX(0);
}

.second-part-block-text {
    width: 50%;
    height: 100vh;
}

.flower-block-s {
    width: 25%;
    height: 100vh;
}

.flower-s {
    position: absolute;
    transition: 1.7s;
}

.flower-s-active {
    transform: translateX(-20.5rem);
}

