* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Maler', sans-serif;
	font-size: 1.4rem;
	color: #fff;
    background-position: center center;
    background-size: cover;
    background-image: url("/beePROJECT/assets/back3.svg");
}

.title_main {
    margin-left: 5rem;
    margin-top: 12rem;
    color: #765728;
    font-size: 5rem;
}

.secondary_text {
    color: #9D9076;
    margin-left: 5rem;
}

.back {
    width: 100%;
    height: 300vh;
    background-position: center center;
    background-size: cover;
}

a {
	text-decoration: none;
	color: inherit;
}
.container {
	max-width: 120rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

/* navbar */

.primary-header {
    background-color: #FDEFCA;
    color: #9D9076;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    height: 8.2rem;
}

.nav-btns {
    display: flex;
    gap: 4.3rem;
}

/* texts */

.main-text {
    color: #765728;
    font-size: 4rem;
}

/* first-content */

.first-content {
    
    padding-left: 4rem;
    width: 100%;
    height: 100vh;
}

.first-image {
    position: absolute;
    width: 100%;
    height: 75vh;
}

/* second */

.second-content {
    width: 100%;
    height: 100vh;
}

.matka {
    width: 100%;
    height: 100vh;
}

/* third */

.cards {
    display: flex;
}

.third-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.f-block {
    margin-left: 10rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.s-block {
    padding-top: 10rem;
    display: flex;
    gap: 7rem;
    width: 50%;
    height: 100%;
}



.list {
    margin-left: 4rem;
    color: #9D9076;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    font-size: 2.2rem;
}

.content-block {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lineyka {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 13rem;
    border-left: 3px solid #9D9076;
    border-right: 3px solid #9D9076;
}

.lineyka-center {
    width: 13rem;
    height: 3px;
    background-color: #9D9076;
}

.bee7-01 {
    width: 20rem;
    animation-name: move;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.bee7-01-2 {
    width: 15rem;
    animation-name: move;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes move {
    0% {
        transform: translateX(-.8rem);
    }
    
    25% {
        transform: translateY(.8rem);
    }

    50% {
        transform: translateX(.8rem);
    }

    75% {
        transform: translateY(-.8rem); 
    }

    100% {
        transform: translateX(-.8rem);
    }
}

.title {
    font-size: 2rem;
    color: #765728;
}

.arrow {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other {
    width: 15rem;
}

.card_golubika {
    margin-top: 5vh;
}

.other-2 {
    width: 27rem;
    height: 20rem;
}

/* footer */

.footer {
    padding-right: 3rem;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

.footer-img {
    width: 17rem;
    height: 4rem;
}